<mat-label>Crear Usuario</mat-label>
<hr>
<form class="example-form">
  <mat-grid-list cols="2" rowHeight="8:1">
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Nombre Completo</mat-label>
        <input matInput placeholder="Nombre Completo" >
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Dirección del usuario" >
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" >
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="000-00000" >
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-radio-group aria-label="Selecionar genero">
        <mat-radio-button value="1">Masculino</mat-radio-button>
        <mat-radio-button value="2">Femenino</mat-radio-button>
      </mat-radio-group>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-label class="form-label">Fecha de nacimiento</mat-label>
      <input type="date" placeholder="MM/DD/YYYY" class="form-control" style="font-size: 14px; color: black; margin-right: 15px; margin-left: 15px;"  >
    </mat-grid-tile>
  </mat-grid-list>
  <button mat-raised-button type="submit" color="primary">Añadir usuario</button>
</form>
